html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, arial;
  color: #555;
}

#open-menu {
  height: 100%;
}

#open-menu ul {
  margin: 0
}

#open-menu ul li.selected {
  color: white;
}

.select-stack {
  height: 100%;
  width: 100%;
  background: #4db6c1;
}

.select-stack .stacks {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
}

.select-stack .ruby, .select-stack .javascript, .select-stack .tensorflow {
  border: 6px solid gray;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 0 30px
}

.select-stack .selected {
  border-color: #53D9E7;
}

.select-stack .ruby {
  background: #FCB46B;
}

.select-stack .javascript {
  background: #F5FFB2;
}

.select-stack .tensorflow {
  background: #BCF2F8;
}

.select-stack img {
  width: 50%;
  margin-top: 30%;
}

.select-stack p {
  margin-top: 35px;
}

.select-stack h3 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
  margin-top: 0;
}

.select-stack .javascript img, .select-stack .tensorflow img  {
  width: 40%;
}

.loading-screen {
  height: 100%;
  width: 100%;
  background: #4db6c1;
  color: white;
  font-family: Helvetica, Arial;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 1;
  display: none;
}

.loading-screen h1 {
  margin-top: 140px;
}

.progress-bar {
  width: 200px;
  margin: 120px auto 0;
  position: relative;
}

.progress-bar .outer-bar {
  width: 280px;
  margin-top: -140px;
  margin-left: -40px;
}

.progress-bar .center {
  background: black;
  height: 60px;
  width: 120px;
  border-radius: 120px 120px 0 0;
  position: absolute;
  top: 40px;
  left: 40px;
}

.ripple-1, .ripple-2, .ripple-3 {
  margin-bottom: 4px;
  background: linear-gradient(to right, transparent, black, transparent);
}

.ripple-1 {
  height: 4px;
  width: 400px;
  margin-left: -100px;
}

.ripple-2 {
  height: 3px;
  width: 200px;
}

.ripple-3 {
  height: 2px;
  width: 100px;
  margin-left: 50px;
}

body {
  margin: 0;
}
